<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form class="input-group-dashboard" action="" method="POST">
            <input type="text" name="change_password" placeholder="Neues Passwort eingeben..." class="inputField">
            <button type="submit" name="action" value="change_password" class="submit">Bestätigen</button>
        </form>
</body>