<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="title"><strong>Log in!</strong></div>
    <div class="signup-window">
        <form class="input-group" action="" method="POST">
            <div class="email-wrapper {{ 'tooManyTries' if tooManyTries else '' }}">
                <input type="text" name="email_address" value="{{ email_address }}" placeholder="🪪 Email-Adresse oder Benutzernamen eingeben..." class="inputField">
            </div>
            <button type="submit" name="action" value="submit" class="submit">Bestätigen</button>
        </form>
        <form class="login-instead" action="" method="POST">
            <button type="submit" name="GoTosignup" value="clicked" class="changeToOtherMode">Signup instead</button>
        </form>
    </div>
</body>
</html>